.LoginPage {
    position: fixed;
    height: calc(100vh - var(--header-height));
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
}

.LoginContent {
    display: grid;
    place-items: center;
    height: 100%;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #e0dddd;
    padding: 20px;

}